<div class="contered-content">
  <div class="modal-box ">
      <h1 class="title">Create New List</h1>

      <div class="field ">
        <p class="control is-expanded">
          <input #listtitle type="text" class="input" placeholder="New List">
        </p>
        <p class="control pt-3 flex-end">
          <a class="button  " routerLink="/">Go back</a>
          <a class="button ml-3 is-primary has-text-white" (click)="createNewList(listtitle.value)">Create</a>
        </p>
      </div>

  </div>
</div>
