<div class="contered-content">
  <div class="modal-box ">
    <div class="whate-box">
      <h1 class=" title has-text-primary">Login</h1>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input #emailInput type="email" placeholder="Email" class="input">
          <span class="Icon is-smal' is-right">
          <i class="fas fa-check"></i>
        </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input #psInput type="password" class="input" placeholder="Password">
        </p>
      </div>
      <div class="field is-pulled-right" style="display: flex; justify-content: flex-end;">
        <p class="control">
          <button class="button is-success has-text-white" (click)="onLoginClick(emailInput.value, psInput.value)">Login</button>
        </p>
      </div>
      <br>
      <p>Not got on account? <a routerLink="/signup">Sign up now!</a></p>
    </div>
  </div>
</div>
