<div class="contered-content">
  <div class="modal-box ">
    <div class="white-box">
      <h1 class=" title has-text-primary">Signup</h1>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input #emailInput type="email" placeholder="Email" class="input">
          <span class="Icon is-smal' is-right">
          <i class="fas fa-check"></i>
        </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input #psInput type="password" class="input" placeholder="Password">
        </p>
      </div>
      <div class="field is-pulled-right">
        <p class="control">
          <button class="button is-success has-text-white" (click)="onSignClick(emailInput.value, psInput.value)">Signup</button>
        </p>
      </div>
    </div>
  </div>
</div>
