<div class="contered-content">
  <div class="task-manager-container">

    <div class="sidebar bg-white">
      <h1 class="title has-text-primary">
          Lists
      </h1>
      <div class="list-menu">
        <a  class="list-menu-item is-active">
          <p>List #1</p>
        </a>
        <a  class="list-menu-item">
          <p>List #2</p>
        </a>
        <a  class="list-menu-item">
          <p>List #3</p>
        </a>
      </div>

      <button class="button is-primary has-text-white" (click)="createNewList()">+ New List</button>
    </div>

    <div class="task-list-container gb-ligth">
      <h1 class="title has-text-primary">
        Tasks
      </h1>

      <div class="task">
        <p>this is have something</p>
      </div>
      <div class="task">
        <p>this is have something</p>
      </div>
      <div class="task">
        <p>this is have something</p>
      </div>
    </div>
  </div>
</div>
